
 <div class="panel panel-default">
    <div class="panel-heading clearfix">
    <div class="pull-left"> <i class="fa fa-user fa-fw"></i></div>
        Edit your profile
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :email, required: true, autofocus: true %>

        <%= f.input :first_name, required: true, autofocus: true %>
        <%= f.input :last_name, required: true, autofocus: true %>
        <%= f.input :address, required: false, autofocus: true %>
        <%= f.input :postcode, required: false, autofocus: true %>
        <strong>Photo</strong>
        <%= user_avatar(resource, class: 'media-object', style: 'width:64px;height:64px;') %><br />
        <%= f.file_field :photo, required: false, autofocus: true %>
        <br />
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
        <% end %>

        <%= f.input :password, autocomplete: "off", hint: "leave it blank if you don't want to change it", required: false %>
        <%= f.input :password_confirmation, required: false %>
        <%= f.input :current_password, hint: "we need your current password to confirm your changes", required: true %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Update" %>
      </div>
    <% end %>

    <h3>Cancel your account</h3>

    <p>If you wish to cancel your account, please click the following link.<br /><%= link_to "Cancel your account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

    <%= link_to "Back", :back %>
    </div>
    <!-- /.panel-body -->
</div>
<!-- /.panel -->