
<div class="panel panel-default">
  <div class="panel-heading">New Petition</div>

 <div class="panel-body">
<%= simple_form_for(@petition) do |f| %>
  <%= f.error_notification %>
  <%= f.hidden_field :creator_id, :value => current_user.id %>

  <div class="form-group">
    <%= f.input :name, class: 'form-control' %>
    <%= f.input :content, class: 'form-control fixed-text-input'  %>
    <%= f.input :tag_list, class: 'form-control', label: "Tags (separated by commas)"  %>
    <%= f.button :submit, class: 'btn btn-primary' %>
  </div>

<% end %>
</div>
</div>
