<% breadcrumb :petitions %>
<p id="notice"><%= notice %></p>

<h1>Petitions</h1>

 <div class="row">
 <div class="col-lg-12">
 <div class="panel panel-default panel-toolbar">
  <div class="panel-heading">
        <i class="fa fa-tag fa-fw"></i> Tags
    </div>
    <div class="panel-body panel-toolbar">
    <div id="tag_cloud">

<% tag_cloud(@tags, %w(css1 css2 css3 css4)) do |tag, css_class| %>
 <%= link_to tag.name, tag_path(tag.name), :class => css_class %>
<% end %>
    </div>
  </div>
  </div>

</div>
<!-- /col-lg6 -->
</div>

<div class="row">
 <!-- /col-lg-6 -->
  <div class="col-lg-12">
   <div class="panel panel-default panel-toolbar">
    <div class="panel-heading">
       <%= render(partial: 'petitions/filters') %>
    </div>
  </div>
 </div>
 </div>



<div id="filterrific_results">

<%= render(partial: 'petitions/list', locals: { petitions: @petitions }) %>

</div>

<br>

<%= link_to 'New Petition', new_petition_path %>
