<% breadcrumb :petition, @petition %>
<%= render(partial: 'petitions/header', locals:{ petition: @petition} ) %>
<div class="row">
<div class="col-md-6">
    <div class="panel chat-panel panel-default">
        <!-- /.panel-heading -->
        <div class="panel-body">
			<%= simple_format(@petition.content) %>
        </div>
        <!-- /.panel-body -->
    </div>
</div>
<div class="col-md-6">
 <div class="">
        <!-- /.panel-heading -->
        <div class="panel-body">
        <div id="petition-supporters">
        <%= render :partial => "supporters", petition: @petition  %>
        </div>
        <%= render partial:'support_modal' %>
        <div id="petition-milestones">
        <%= render(partial: 'petitions/milestones', locals:{ petition: @petition} ) %>
        </div>
        <%= render(partial: 'petitions/required_supporters', locals:{ petition: @petition} ) %>
        </div>
  <!-- /.panel-body -->
    </div>
</div>
</div>
<div class="row">
<div class="col-lg-12">
<div class="chat-panel panel panel-default">
    <div class="panel-heading">
        <i class="fa fa-comments fa-fw"></i>
        Discussion
    </div>
    <!-- /.panel-heading -->
    <div class="discussion-body">
     <%= nested_comments @comments.roots  %>
    </div>
    <!-- /.panel-body -->
    <div class="panel-footer">
        <%= render partial:'/comments/form', commentable: @petition, locals: {comment: Comment.new(parent_id: nil)} %>
    </div>
    <!-- /.panel-footer -->
</div>
</div>
</div>