<p id="notice"><%= notice %></p>

<h1>Listing Statutes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Content</th>
      <th>Motion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @statutes.each do |statute| %>
      <tr>
        <td><%= statute.name %></td>
        <td><%= statute.content %></td>
        <td><%= statute.motion_id %></td>
        <td><%= link_to 'Show', statute %></td>
        <td><%= link_to 'Edit', edit_statute_path(statute) %></td>
        <td><%= link_to 'Destroy', statute, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Statute', new_statute_path %>
