<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <%= user_icon %> <i class="fa fa-caret-down"></i>
    </a>
    <ul class="dropdown-menu dropdown-user">

    <% if user_signed_in? %>
        <li><%= link_to conversations_path  do %>
            <i class="fa fa-envelope fa-fw"></i> Messages
        <% end %>
        </li>
        <li><%= link_to edit_user_registration_path  do %>
            <i class="fa fa-user fa-fw"></i> User Profile
        <% end %>
        </li>
        <li class="divider"></li>
        <% current_user.groups.each do |group| %>
            <li>
             <%= link_to set_active_group_path(group_id: group.slug)  do %>
            <% if group.id == current_user.current_group_id %>
                <strong>
            <% end %>
            <%= group.name %>
            <% if group.id == current_user.current_group_id %>
                </strong>
            <% end %>
            <% end %>
            </li>
        <% end %>
        <li class="divider"></li>
        <li><%= link_to 'Create a group', new_group_path()%></li>
        <li><%= link_to 'Find a group', find_group_path()%></li>
        <li class="divider"></li>
        <li>
        <%= link_to destroy_user_session_path, :method => :delete do %>
            <i class="fa fa-sign-out fa-fw"></i> Log Out
        <% end %>
        </li>
    <% else %>
        <li>
        <a href="/login"><i class="fa fa-sign-in fa-fw"></i> Login</a>
        </li>
        <li>
        <a href="/register"><i class="fa fa-user-plus fa-fw"></i> Register</a>
        </li>
    <% end %>
        
    </ul>
    <!-- /.dropdown-user -->
</li>
<!-- /.dropdown -->