<% @req_votes = petition.required_votes %>
<% @support = petition.support_percent %>
<div class="petition-supporter-bar-sm"><span id="bar-<%= petition.id %>"><%= @support %></span></div>
<div align="centre">
</div>
<script>
var opt = {
 numMin:0,
 numMax:100,
 horBarHeight:15,
 colorRange:true,
 colorRangeLimits: {
  critical: '0-20',
  newRangeOne: '21-40-rgb(241,144,40)',
  newRangeTwo: '41-60-green',
  newRangeThree: '61-90-#4aa64f',
  optimal: '91-100'
 },
 milestones: {
  1: {
   mlPos: <%= (@req_votes / 3) %>,
   mlId: false,
   mlClass: 'bi-custom',
   mlDim: '100%',
   mlLabel: '<%= (@req_votes / 3) %>',
   mlLabelVis: 'hover',
   mlHoverRange: 15,
   mlLineWidth: 1
  },
  2: {
   mlPos: <%= (@req_votes / 3) * 2 %>,
   mlId: false,
   mlClass: 'bi-custom',
   mlDim: '100%',
   mlLabel: '<%= (@req_votes / 3) * 2 %>',
   mlLabelVis: 'hover',
   mlHoverRange: 15,
   mlLineWidth: 1
  }
 }

};
 function bar () {
   $('#bar-<%= petition.id %>').barIndicator(opt);
   $('#bar-<%= petition.id %>').barIndicator('reanimateBar');
}
bar();
 $(window).resize(function () {
    bar();
});
</script> 